* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(142, 142, 228);
    letter-spacing: 1px;
}
body {
    border: 2px solid blue;
    margin: 50px auto;
    width: 90%;
}

h1 {
    font-size: 32px;
    text-decoration: underline;
    text-align: center;
    color: white;
}

h2 {
    text-decoration: underline;
}

p {
    font-size: 20px;
}

.container {
    display: flex;
    flex-direction: row; /*direction of the items: default is row */
    /* alignnment */
    justify-content: center;
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    /* margin-bottom: 10px; */
    gap: 10px;
    margin-bottom: 10px;
}
.container_item {
    /* flex: 1; */
    border: 2px solid blue;
}

.one,
.three {
    background-color: rgb(220, 220, 151);
    color: black;
    flex: 1;
}

.two {
    background: rgb(155, 227, 155);
    color: bue;
}
a,
a:link,
a:visited,
a:active {
    text-decoration: none;
}

img {
    width: 500px;
    height: auto;
    border: 2px solid gray;
    border-radius: 30px;
}
